<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{errorStatus}}!</title>
</head>

<body>
    <P>Error type:{{errorStatus}}</P>
    <p>{{errorMessage}}</p>
    <a href="/" style="font-size: 1.5em; font-weight: 600;">
        Back to login page
    </a>
</body>

</html>